body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: url(/CSS/ASSIGNMENTS/LMS/library.jpeg);
    background-size: cover;  */
}
.navbar{
        background:white ;
        width: 98%;
        margin-top: 0%;
        height: 90px;
        padding: 10px 20px 10px 20px;
        display:grid;
        justify-content: right;
        
    
    }
    .navbar li a:hover{
        background-color:#ade3e1 ;
        padding: 5px;
        border-radius: 5px;
        
    }
li{
    list-style: none;
    display: inline-block;
    font-size: 16px;
 }
 li a{ 
    font-family: bold;
    margin-right: 25px;
    color: #800080;
    font-size: 16px;
    text-decoration: none;
 }
 .div1{
    width: 100%;
    height: 100vh;
    background-position: center;
    background: url(/CSS/ASSIGNMENTS/LMS/libraryy.jpeg);
 }
.div2{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    text-align: center;
    font-size: x-large;
    font-weight: 800px;
}